<body id="word-table">
<h1>Top#show</h1>

<table border= "1">
    <thead>
        <tr class="thead">
            <th>word</th>
            <th>meaning</th>
        </tr>
    </thead>
    <tbody class="tbody">
      <% @words.each do |word| %>
        <tr>
          <td><%= word.title %></td>
          <td><%= word.meaning %></td>
        </tr>
      <% end %>
    </tbody>
</table>
</body>