<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>JSDemo2</title>

</head>
<body id="flashcard-play">
  <%= render 'card' %>
  <div id="btn">
    NEXT
  </div>

</body>
</html>